@import "tailwindcss";

:root {
  --primary: #5272FF;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
} 
button {
  cursor: pointer;
}
input, textarea, select, button {
  font-family: inherit;
}
input, textarea, select {
  border: 1px solid #D1D5DB;
  background-color: white;
  border-radius: 8px;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
